@use 'styles/tokens';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-body-md-family);
  color: var(--color-on-surface);
  background: var(--color-surface);
}
